body,html{text-align:center; color:#333; background:#fff;}
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,th,td,form,button,input {padding-right:0px; padding-left:0px; padding-bottom:0px; margin:0px; padding-top:0px;}
textarea {padding-right:4px; padding-left:4px; padding-bottom:4px; margin:0px; padding-top:4px;}
body,html,button,input {font:12px/1.5 tahoma,arial,sans-serif;}
ul,ol,li {list-style:none;}
select {padding:1px 2px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; border:1px solid #cccccc;}
option {padding:0px 2px; color:#333;}
textarea {font:12px/1.5 tahoma,arial,sans-serif;}
a {color:#33517f; text-decoration:none;}
a:hover {text-decoration:none; color:#F60;}
a img {border:0px}

.wrap {width:1190px; margin:auto; text-align:left}

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/*\*/ .clearfix {display:block;} /**/

.stop,.stop a,.stop a:hover {color:#8E8E8E;}
.fselected,.figure,.red_b,.orange,.orange a {font-size:12px; font-weight:bold;}
.gray      {color:gray}
.red       {color:#F00}
.red_b     {color:#F00;}
.green_b   {color:#096F00;}
.fselected {color:#F60;}
.figure    {color:#F60;}
.orange,.orange a {color:#ff6700;}
.orange_s,.orange_s a {color:#ff6700;}
.sumfig {font-size:12px; font-weight:normal; color:#888;}

.pos1 {text-align:left; margin:auto 2px;}
.pos1 li {padding:2px 0;}
.pos1 a {color:#33517f; text-decoration:none;}
.pos1 a:hover {color:#F60; text-decoration:underline;}
.pos1 a:visited {color:#969; text-decoration:none;}
.pos2 {text-align:left;}
.pos3 img {border:1px solid #C5C5C5;}
.left{float:left !important;}
.right{float:right;}
.clear10 {clear:both; margin-bottom:10px;}

/* Top Shortcut Slide Down Navigition Menu*/
.topnavbg {position:relative;width:100%; background:#f1f1f1; border-bottom:1px solid #eeeeee; height:24px; font-family:arial,sans-serif;}
.topnavbg a:hover {color:#F60; text-decoration:none;}
.topnav {width:1190px; margin:0 auto 0 auto; height:20px; text-align:left}
.topnavleft  {width:480px; float:left; height:20px; margin-left:0px; padding-top:3px; display:inline;}
.topnavleft li {padding-right:10px; float:left}
.topnavleft .user a {color:#F60;}
.inmsgs {padding-left:20px; background:url(../../images/icon/i.gif) left no-repeat;}
.topnavright {float:right; width:160px;height:20px; margin-right:0px; padding-top:4px; display:inline; font-family: arial,sans-serif;}
.topnavright ul {display:inline;}
.topnavright ul li {float:left}
.topnavright ul li.flag2 {margin-left:10px;}

.topmenu {float:left; width:540px; display:inline;}
.topmenu dl {float:left; position:relative;margin-right:20px;}
.topmenu dl dt {margin:1px 0 0 0;  padding:3px 18px 2px 9px; background:url(../../images/bg/bg_new16.gif) right -240px no-repeat;}
.topmenu dl dd { display:none}
.topmenu dl.set dt {border:1px solid #dddddf; border-bottom:0; padding:2px 17px 2px 8px; margin-right:20px; background:#ffffff url(../../images/bg/bg_new16.gif) right -240px no-repeat;}
.topmenu dl.set dd {display:block}

.topmenu ul li {float:left; position:relative;}
.topmenu ul li .np {display:block;margin:1px 0 0 0; border-bottom:0; padding:2px 17px 1px 8px; margin-right:0px;}
.topmenu ul li .sp {display:block;margin:1px 0 0 0; padding:2px 18px 2px 9px; margin-right:0px;background:url(../../images/bg/bg_new16.gif) right -240px no-repeat;}
.topmenu ul li .cp {display:block;margin:1px 0 0 0; border:1px solid #dddddf; border-bottom:0; padding:1px 17px 3px 8px; margin-right:0px; background:#ffffff url(../../images/bg/bg_new16.gif) right -217px no-repeat;}
.topmenu ul li .topsubmenu {position:absolute; z-index:10; top:24px; left:0; width:140px; border:1px solid #dddddf; border-top:0; background:#fff; padding:3px 0 4px;}
.topmenu ul li .topsubmenu li {padding-left:8px; line-height:170%; float:none; text-align:left; border:0; position:static;}
.topmenu ul li .topsubmenu li a {background-image:none}

/* LOGO defination */
#logo{clear:both; position:relative; margin:10px 15px 0 0; float:left;}
#logo img {width:190px; height:50px; border:0;}
#header {clear:both; overflow:hidden; margin:0 auto; width:960px;}

/* Mini Mainmenu style defination */
#header_mini {clear:both; overflow:hidden; margin:0 auto; width:960px;}
#logo_mini {clear:both; position:relative;  float:left; margin:10px 15px 0 0; width:190px; height:30px;}
#logo_mini img {border:0;}
.headnav_s {float:right; text-align:right; margin-top:10px; padding-right:5px; width:550px;}
.headnav_s ul li{display:inline; padding:0 3px; font-size:14px; color:#CCC;}

/*_Submenu style defination____*/

/* Button style defination */
.btn2o {padding:0; border:0; display:block; width:72px;height:24px;line-height:24px; color:#fff; text-align:center; font-weight:normal; text-decoration:none; background:url(../../images/bg/bg_new16.gif) 0 -388px no-repeat; cursor:pointer}
.btn2o:hover {text-decoration:none;background:url(../../images/bg/bg_new16.gif) 0 -412px no-repeat;color:#fff;}
.btn2o:active {background:url(../../images/bg/bg_new16.gif) 0 -436px no-repeat}

.btn2oh {margin:0 auto; border:0; display:block; width:126px;height:42px;line-height:42px; color:#fff; text-align:center; font-weight:bold; font-size:20px; text-decoration:none; background:#e6e6e6 url(../../images/bg/bg_new16.gif) 0 -250px no-repeat; cursor:pointer}
.btn2oh:hover {text-decoration:none;background:url(../../images/bg/bg_new16.gif) 0 -292px no-repeat}
.btn2oh:active {background:url(../../images/bg/bg_new16.gif) 0 -334px no-repeat}

.btn4,.btn6 {padding:0; border:0; display:block; height:24px;line-height:24px; color:#333; text-align:center; font-weight:normal; text-decoration:none; background:#e6e6e6; margin-right:20px;}
.btn4:hover,.btn6:hover {text-decoration:none;}

.btn4 {width:72px; background:url(../../images/bg/bg_new16.gif) -158px -388px no-repeat;}
.btn4:hover {background:url(../../images/bg/bg_new16.gif) -158px -412px no-repeat;}
.btn4:active {background:url(../../images/bg/bg_new16.gif) -158px -436px no-repeat;}

.btn6 {width:136px; background:url(../../images/bg/bg_new16.gif) -87px -478px no-repeat;}
.btn6:hover {background:url(../../images/bg/bg_new16.gif) -87px -502px no-repeat;}
.btn6:active {background:url(../../images/bg/bg_new16.gif) -87px -526px no-repeat;}

.btn6s {margin:0; border:0; display:block; width:90px; height:19px; line-height:19px; color:#333; text-align:center; text-decoration:none; background:#e6e6e6 url(../../images/bg/bg_new16.gif) 0 -703px no-repeat; margin-right:20px;}
.btn6s:hover {text-decoration:none;background:url(../../images/bg/bg_new16.gif) 0 -722px no-repeat}
.btn6s:active {background:url(../../images/bg/bg_new16.gif) 0 -741px no-repeat}

input.btn2o,input.btn4,input.input.btn6,input.btn6s,input.input.btn2oh {display:inline; font-family:Arial,sans-serif;}
.vip_argu a.btn6s,.vip_argu a.btn6s:visited,.vip_argu a.btn6s:hover {margin-left:1px;}
.vip_argu a.vip_argu a.vip_argu a {margin-left:20px; margin-right:0px;}
.btn4a,.btn6a {float:left; margin:3px 6px 2px 0; padding:0;border:0; display:block; height:22px;line-height:22px; margin-right:10px;}

/* Bottom style defination */
#container{clear:both; overflow:hidden; margin:0 auto; width:1190px;}
#footer{clear:both; margin:10px auto 0; width:1190px;padding:1px 0 10px;overflow:hidden; width:1190px;}
.servicebox{background:#fcfcfc;border:solid 1px #e8e8e8;}
.service{background:#fff;padding:10px 10px;overflow:hidden;background:#fff;position:relative;width:1168px;}
.service .bgtop,.service .bgbtm{height:12px;font-size:0;line-height:0;overflow:hidden;background:#fff;display:block;clear:both;position:absolute;left:15px;width:930px}
.service .bgtop{top:0}.service .bgbtm{bottom:-1px}
.service dl{display:block;float:left;zoom:1;width:180px;margin:-8px 15px 0 10px;_display:inline;}
.service dt{font:700 12px/30px arial; text-align:left; color:#666;}
.service dd{text-align:left;}
.service a{color:#666}.service a:hover{color:#FB4E0B}
.service .kefu{width:230px;}
.service .kefu .tel{font-size:12px;}
.service dd.follow{background:url() no-repeat 1px -882px}
.service dd.follow a{display:inline-block;height:24px;overflow:hidden;margin:0 4px 0 0;line-height:160px;vertical-align:middle}
.copyright{padding:5px 0 5px 0;text-align:center}.copyright a{color:#666}.copyright span{color:#aaa;padding:0 8px}.copyright a.alink{color:#06c}
.cert{background:url(../img/service.gif) no-repeat 0 -74px;text-align:center;margin:10px 0;overflow:hidden;zoom:1;clear:both}
.cert a,.cert span{display:inline-block;height:48px;line-height:120px;width:188px;float:left;margin-right:10px;overflow:hidden}
.cert .cert4{margin-right:0}

/* Defination of More */
.more_bg {clear:both; margin:0 1px 0 1px; height:25px; background-color:#F5FAFA; font-family:Arial,sans-serif; color:#333;}
.more_bg li{padding:5px 5px 0 0;}
.more_bg li.left {padding-left:3px;}
.more_bg input {vertical-align:middle; margin-top:-2px; margin-bottom:1px; width:13px;}
.more_bg li.sel_inp {float:left; width:86px; margin-left:-5px;}
.more_bg li.com_btn {float:left; padding:1px 5px 1px 0;}
.more {clear:both; margin:0 1px;height:25px; font-family:arial,sans-serif;}
.more li{padding:3px 5px 0;}
.moreline {clear:both; margin:0 1px;height:25px; border-top:1px dotted #e5e5e5;}
.moreline li{padding:4px 5px 0;}


/* Right Row Advertisement */
#Spon_tit {margin-top:10px;color:#333; text-align:center; padding:5px 0px; background:#D2E4F7;}
#Spon_con img {margin:5px 0px;}

/* Modeldetail Serial Pages Head Main Navigition */
#modelnav {clear:both;overflow:hidden;width:1188px; height:43px; margin-top:10px; border-left:1px solid #80b9e6; border-right:1px solid #80b9e6;background:#E4F2FD url(../../images/bg/model_bg.gif) 0 -105px repeat-x; font-family:Arial, sans-serif;}
#modelnav H1 {display:block; float:left; margin:10px 0 0; width:268px; height:20px; overflow:hidden; font-weight:bold; font-size:16px; color:#333; text-align:center; padding:0 5px;}
#modelnav H1 a:hover {text-decoration:none}
#modelnav ul {float:left;margin-top:5px; }
#modelnav ul li {float:left; margin-right:14px;}
#modelnav ul li a {display:block; width:115px; height:22px; margin-top:5px; padding-top:8px; padding-bottom:3px; background:#b0c7e7 url(../../images/bg/model_bg.gif) 0 0 no-repeat;color:#07519a; text-align:center; font-weight:bold; font-size:14px; }
#modelnav ul li a:hover {text-decoration:none;}
#modelnav ul li a.here {width:117px; height:22px; margin-top:0; padding-top:13px; background:#fed09e url(../../images/bg/model_bg.gif) 0 -33px no-repeat; }
#modelnav ul li a.disable {background:#cfcfd1 url(../../images/bg/model_bg.gif) 0 -71px no-repeat; cursor:default; color:#999;}

/* Path line */
#pathline {margin:7px auto 0 auto; padding:0px; height:20px;}
#pathline ul {padding-left:3px; text-align:left;;}
#pathline ul li {display:inline; margin:0 2px; float:left; line-height:20px; height:20px; overflow:hidden}
#pathline ul li.attr {margin-left:4px;}
#pathline ul li.attr a {display:block; float:left; border:solid #e8e8e8 1px; line-height:18px; height:18px; background:url(../../images/pathline_attr.gif) no-repeat right bottom; padding:0 21px 0 5px; color:#666} 
#pathline ul li.attr a span{color:#ff0000;} 
#pathline ul li.attr a:hover {border:solid #ff4400 1px; background-position:right top; text-decoration:none; color:#F40}
#pathline .ads_more {margin-left:30px; float:right;}
#pathline .ads_more span {float:left; line-height:20px; height:20px;}
#pathline .ads_more li {margin-right:20px;}

/* Panel Model List Table Defination */
#listable {clear:both;text-align:center; font-family:Tahoma,Arial,"ËÎÌו";}
#listable td,#listable th {padding:10px 2px;border-bottom:1px dotted #C5C5C5;}
#conhead  {background-color:#D5E6F3;}
#listable #conhead th {height:25px; font-size:12px; font-weight:normal;padding:0 2px; border-bottom:0}

.conalt th,.conalt td {background-color:#F5F5F5;}
.conaltbg td,.conaltbg th {background:#F5F5F5 url(../../images/bg/white-box-bkg.gif) bottom repeat-x;}
.checkedsel th,.checkedsel td {background-color:#FFFFCA; background-image:none}

.boxHead {text-align:left;padding:4px 0px 0px 10px; height:20px; background:#e7f1f9 url(../../images/bg/box_head_bg.gif) 0 -100px repeat-x; font-size:12px; font-weight:bold; color:#3d6e93;}
.boxHead H2 {font-weight:bold; color:#3d6e93; font-size:12px; background-color:#F00}
.note {clear:both; line-height:180%;color:#F00; text-align:left}


#tab {clear:both;width:100%; background:url(../../images/bg/statenavbg_1.gif) repeat-x left bottom; height:30px; margin:15px 0 2px 0;}
#taber li{float:left; padding:0 0 0 1px; margin-right:6px; margin-top:3px; height:27px; background:#dfebf7 url(../../images/bg/statenavbg.gif) left bottom no-repeat;}
#taber a {float:left;display:block; height:27px; color:#004a80; line-height:27px; padding:0 10px; text-decoration:none; background:#dfebf7 url(../../images/bg/statenavbg.gif) right bottom no-repeat;}
#taber a:hover{text-decoration:none; color:#ff6700;}
#taber li#current {margin-top:0; height:30px;background:#7ba9d3 url(../../images/bg/statenavbg.gif) left top no-repeat;}
#taber #current a {height:30px; line-height:30px;background:url(../../images/bg/statenavbg.gif) right top no-repeat; font-weight:bold; color:#FFF;}
#barIcon {float:right; width:340px;margin:0; padding:0 6px 0 0; font-weight:normal;}
#barIcon li {float:right; padding:4px 0 0 12px; height:14px; background-image:none}
#barIcon li a {float:none; height:14px;line-height:110%;  background-image:none}
#barIcon img {padding-right:3px;}
#taber.right li {float:right}

/* Used only on Panel Model Supplier Page */
.suptab {clear:both;width:100%; background:url(../../images/bg/statenavbg.gif) 0 -84px repeat-x; height:30px; margin:15px 0 2px 0;}
.suptaber li{float:left; padding:0 0 0 1px; margin-right:6px; margin-top:3px; height:27px; background:#dfebf7 url(../../images/bg/statenavbg.gif) left bottom no-repeat;}
.suptaber span {float:left;display:block; height:27px; color:#004a80; line-height:27px; padding:0 10px; text-decoration:none; background:#dfebf7 url(../../images/bg/statenavbg.gif) right bottom no-repeat;}
.suptaber span:hover{text-decoration:none; color:#ff6700;}
.suptaber li.current {margin-top:0; height:30px;background:#7ba9d3 url(../../images/bg/statenavbg.gif) left top no-repeat;}
.suptaber .current span {height:30px; line-height:30px;background:url(../../images/bg/statenavbg.gif) right top no-repeat; font-weight:bold; color:#FFF;}
.suptaber.right li {float:right}

.tabwrapG {clear:both; overflow:hidden;  text-align:left; border:1px solid #e5e5e5; margin:10px 0 0 0; width:158px;}
.tabGTit {padding-left:4px; height:25px; border-bottom:1px solid #e5e5e5; background:#fcfcfc url(../../images/bg/box_head_bg.gif) top repeat-x;}
.tabGTit H3 {padding-top:4px; font-weight:bold; color:#666; font-size:12px;}
.tabGHead td,.tabOHead td {padding:0 4px; height:22px; background-color:#FFF1D9;}
.tabwrapG td,.tabwrapO td {padding:2px 4px; height:22px;}

.tabwrapO {clear:both; overflow:hidden;  text-align:left; border:1px solid #fbd687; margin:10px 0 5px;  background-color:#fdfde9;}
.tabOTit {padding-left:4px; height:25px; border-bottom:1px solid #fbd687; background:#fdf0d2 url(../../images/bg/box_head_bg.gif) 0 -150px repeat-x;}
.tabOTit H3 {padding-top:4px; font-weight:bold; color:#7c2f02; font-size:12px;}

/* Shortcut Button Style */
.sc  {width:160px; height:35px; margin-top:10px;}
.sc a {background:#feecc7; height:38px; lineheight:38px;display:block; float:left; width:160px;}
.sc a:hover {background:#feecc7; cursor:pointer;}
.addinv a {background:url(../../images/bg/shortcut.gif) 0 0px no-repeat;}
.addinv a:hover {background:url(../../images/bg/shortcut.gif) 0 -40px no-repeat;}
.addrfq a {background:url(../../images/bg/shortcut.gif) 0 -80px no-repeat;}
.addrfq a:hover { background:url(../../images/bg/shortcut.gif) 0 -120px no-repeat;}
.batinv a {background:url(../../images/bg/shortcut.gif) 0 -160px no-repeat;}
.batinv a:hover { background:url(../../images/bg/shortcut.gif) 0 -200px no-repeat;}
.batrfq a {background:url(../../images/bg/shortcut.gif) 0 -240px no-repeat;}
.batrfq a:hover { background:url(../../images/bg/shortcut.gif) 0 -280px no-repeat;}
.addsup a {background:url(../../images/bg/shortcut.gif) 0 -320px no-repeat;}
.addsup a:hover { background:url(../../images/bg/shortcut.gif) 0 -360px no-repeat;}

/* ------------------------ */
.mt1 { margin-top:10px;}
.block { border:solid #bdd8ec 1px;}
.block h3 { height:26px; line-height:26px; overflow:hidden; background:url(../../images/h3.gif) repeat-x; padding:0 8px 0 8px; font-size:12px; text-align:left; color:#1e4d71}
.block h3 a {color:#1e4d71}
.block h3 .right { float:right; font-weight:normal; color:#333}
.sort_asc { background:url(../../images/asc.gif) no-repeat right; padding-right:10px;}
.sort_desc { background:url(../../images/desc.gif) no-repeat right; padding-right:10px;}

/*-- Model Overview Page Down Navigation --*/
#navmap {width:1188px; overflow:hidden; margin-top:20px; border:1px solid #FFAD6E; background:#fffae1;}
#navmap span {float:left; width:12px; overflow:hidden;background:#fef5cc;color:#B75200;font-size:14px;font-weight:bold;line-height:14px;letter-spacing:14px; text-align:center;padding:15px 12px; border-right:1px solid #FFAD6E;}
#navmap #t1 {padding:15px 12px;}
#navmap #t2 {padding:28px 12px;}
#navmap ul {float:left;_display:inline; width:930px; margin:4px 10px; overflow:hidden;}
#navmap ul li {float:left; width:310px;}
#navmap ul li a {display:inline-block;float:left;line-height:25px; height:25px; overflow:hidden; text-align:left;}
#navmap ul li a:hover{color:#f60;}
#navmap ul li a.disable {cursor:default; color:#999; text-decoration:none;}

.invprolist li { float:left; width:190px; text-align:center; padding:15px 0 10px 0}
.invprolist li img { width:160px; height:120px; margin-bottom:5px;}
.invprolist li p { height:25px; line-height:25px; overflow:hidden; padding:0 15px 0 15px;}


/*-------------- Login Box --------------*/
.login_box { padding:5px 0 0 0}
.login_box th { padding:10px 10px 10px 0; width:80px; text-align:right}
.login_box td { padding:10px 0 10px 0}
.login_box .inpu1 { padding:4px; width:144px; border:solid #ccc 1px;}
.login_box .txt { padding-left:5px;}
.login_box .lbbut { width:100px; padding:4px;}

.chititle {background:#ffffe1;border:1px solid #333;display:none; text-align:left; position:absolute;z-index:10010000; font-family:Arial, Helvetica, sans-serif; width:320px;}							
.chititle p{color:#333;float:left;margin:0;padding:6px;	text-align:justify;	width:auto;}
.chititle p span.blue{color:#007eff;}

/* New Bottom style defination */
#new_header {height:70px;}
#new_header .logo{ float:left; width:300px; margin-top:13px;}
#new_header .search {height:37px; border:solid #4f8cc2 2px; float:left; width:612px; margin-top:18px;}
#new_header .search .type {float:left; width:88px;color:#4f8cc2; position:relative; z-index:111111}
#new_header .search .type dt {height:37px; line-height:36px; padding-left:7px;  background:#FFF url(../../images/icon/new_search_1.gif) no-repeat right 16px;}
#new_header .search .type dd {background:#FFF url(../../images/icon/new_search_1.gif) no-repeat right 16px; position:absolute; left:-1px; top:0px; border:solid #4f8cc2 1px; width:86px; padding:7px 0 7px 0; display:none; border-top:none}
#new_header .search .type dd div {height:22px; line-height:22px; padding-left:7px; }
#new_header .search .type dd div a {color:#4f8cc2;}
#new_header .search .txt {float:left; float:left; background:#FFF; border:none; height:37px; line-height:36px; padding:0px; width:420px; padding-left:5px;}
#new_header .search .go {float:right; width:86px; height:37px; background:#4f8cc2; border:none; color:#FFF; font-size:14px; font-weight:bold}
#new_header .ads {float:left; margin-top:20px; margin-left:20px;}
#new_header .ads a {color:#4f8cc2;}
#new_header .cart { border:solid #d7d7d7 1px; float:right; margin-top:18px; line-height:38px; background:url(../../images/icon/cart.png) no-repeat 15px center; padding:0 25px 0 50px; color:#666; font-size:13px;}
#new_header .cart strong { color:#f47e36; font-size:14px;}

#new_menu {height:35px; background:url(../../images/icon/new_menu_0.gif) repeat-x left bottom; position:relative;}
#new_menu dl {float:left; width:220px; background:#4f8cc2; position:relative; z-index:222222;}
#new_menu dl dt {line-height:34px; height:34px; font-size:14px; font-weight:bold; color:#e7eff7; text-indent:14px; background:url(../../images/icon/new_menu_1.gif) no-repeat right top; }
#new_menu dl dd {border:solid #4f8cc2 1px; border-right:none; width:219px; background:#f1f6fb url(../../images/bg/new_menu_li.gif) repeat-y right top; height:235px; position:absolute; left:0px; top:34px; display:none;}
#new_menu dl dd div.me {line-height:26px;}
#new_menu dl dd div.me a {color:#333;}
#new_menu dl dd div.me a:hover {text-decoration:none; color:#F60;}
#new_menu dl dd div.me h3 {text-indent:10px;line-height:26px; height:26px; overflow:hidden; font-size:14px; font-weight:normal;}
#new_menu dl dd div.me h4 {text-indent:10px;line-height:26px; height:26px; overflow:hidden; font-size:14px; font-weight:normal; background:url(../../images/bg/nav_dt_bg.png) no-repeat right center;}
#new_menu dl dd div.me ul {background:#FFF; width:796px; position:absolute; top:0px; left:218px; z-index:9999; border:solid #508dc4 1px; border-top:none; display:none; padding:5px 15px 5px;}
#new_menu dl dd div.me ul .subcat {line-height:20px; height:20px; color:#999; overflow:hidden; font-size:12px; font-weight:bold; border-bottom:1px solid #e0e7ed;}
#new_menu dl dd div.me ul .subcat a {color:#555;}
#new_menu dl dd div.me ul .subcat a:hover {text-decoration:none; color:#F60;}
#new_menu dl dd div.me ul .keytag {float:left; width:796px; margin-bottom:5px;}
#new_menu dl dd div.me ul .keytag a {padding-right:18px;}
#new_menu dl dd div.me ul li {line-height:22px; padding:2px 0px 5px 0;}
#new_menu dl dd div.me ul li .an {float:left; line-height:20px; color:#999; width:100px; text-align:right; font-size:12px; font-weight:bold;}
#new_menu dl dd div.me ul li .an a {color:#555;}
#new_menu dl dd div.me ul li .an a:hover {text-decoration:none; color:#F60;}
#new_menu dl dd div.me ul li .ae {float:right; line-height:20px; width:692px;}
#new_menu dl dd div.me ul li .ae a {padding-right:20px;}
#new_menu dl dd div.cur {background:#fff url(../../images/bg/new_menu_li.gif) repeat-x left bottom;}
#new_menu dl dd div.cur h4 {background:url(../../images/bg/new_menu_li.gif) repeat-x left top; position:relative}
#new_menu dl dd div.cur h4 div { position:absolute; left:0px; top:1px; width:220px; background:#FFF; z-index:99999; height:24px; line-height:24px;}
#new_menu dl dd div.cur ul {display:block}

#new_menu dl.cur dt {background-position:right bottom}
#new_menu dl.cur dd {display:block}
#new_menu ul.nav {float:left; margin-left:50px;}
#new_menu ul.nav li {float:left; line-height:31px; font-size:14px; font-weight:normal; padding:0 16px 0 16px;}
#new_menu ul.nav li a {display:block;}
#new_menu ul.nav li a:hover, #new_menu ul.nav li a.cur {border-bottom:solid #4f8cc2 2px; text-decoration:none}


.ea_tabs { background:#dfebf7}
.ea_tabs ul li { float:left; line-height:34px; height:34px; overflow:hidden; font-size:14px; font-weight:bold; border-right:solid #cfdce5 1px;}
.ea_tabs ul li a { display:block; float:left; padding:0 15px 0 15px;} 
.ea_tabs ul li.cur { background:#FFF;}


/* Complaint & Report */
.complaint { margin-left:15px;}
.complaint a {color:#999;}
.complaint a:visited {color:#969;}